 <nav class="navbar navbar-expand-sm bg-dark navbar-dark shadow-sm fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand ps-3" href="/"> Free IMDB App</a>
      <a class="navbar-brand ps-3 text-primary" href="{% url 'home' %}"><i class="fa-solid fa-film"></i> Movies</a>
      <a class="navbar-brand ps-3 text-primary" href="{% url 'tv_shows' %}"><i class="fa-solid fa-tv"></i> Tv Shows</a>
      <a class="navbar-brand ps-3 text-info" href="{% url 'about' %}"><i class="fa-solid fa-circle-info"></i> About</a>
  </div>
</nav>





