{% extends "base.html" %}

{% load movie_extras %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}


{% block page_content %}

<div class="container py-5 mt-5">

    <h2 class="text-center mb-4 text-white">Tv Shows</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for tv in tv_data %}
        <div class="col">
            <div class="card h-100 movie-card border-0 shadow">
                <!-- TV Shows Poster -->
                {% if tv.primaryImage and tv.primaryImage.url %}
                <img src="{{ tv.primaryImage.url }}" class="card-img-top" alt="{{ tv.primaryTitle }} poster"
                     style="height: 50%; object-fit:cover ;">
                {% else %}
                <div class="bg-secondary d-flex align-items-center justify-content-center text-white"
                     style="height: 350px;">
                    <span class="fs-4">No Image</span>
                </div>
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <!-- Title & Year -->
                    <h5 class="card-title fw-bold text-dark">
                        {{ tv.primaryTitle }}
                        <span class="text-muted fs-6">({{ tv.startYear|default:"TBD" }})</span>
                    </h5>

                    <!-- Runtime -->
                    {% if tv.runtimeSeconds %}
                    <p class="text-muted small mb-2">
                        <i class="fa-solid fa-clock"></i>
                            {{ tv.runtimeSeconds|seconds_to_hm }}
                    </p>
                    {% endif %}

                    <!-- Genres -->
                    <div class="mb-3">
                        {% for genre in tv.genres %}
                        <span class="badge bg-primary genre-badge me-1">{{ genre }}</span>
                        {% empty %}
                        <span class="text-muted small">No genres</span>
                        {% endfor %}
                    </div>

                    <!-- Rating -->
                    {% if tv.rating and tv.rating.aggregateRating %}
                    <div class="d-flex align-items-center mb-3">
                        <span class="text-warning fw-bold me-2">★ {{ tv.rating.aggregateRating }}</span>
                        <span class="text-muted small">({{ tv.rating.voteCount }} votes)</span>
                    </div>
                    {% endif %}

                    <!-- Plot -->
                    {% if tv.plot %}
                    <p class="plot-text text-secondary flex-grow-1">
                        {{ tv.plot|truncatewords:30 }}
                    </p>
                    {% endif %}

                         <!-- Action Button -->
                    <a href="https://www.imdb.com/fr/title/{{ tv.id }}" target="_blank" class="btn btn-outline-primary btn-sm mt-auto">
                        View Details on IMDB <i class="fa-brands fa-imdb"></i>
                    </a>
                </div>

            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center py-5">
            <p class="text-muted">No tv shows found.</p>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock page_content %}